body {
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 10px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#header #right {
  margin: auto;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}

#header #search {
  display: none;
}

#header #logout-div {
  display: none;
}

#errormessage {
  color: red;
}
